$primaryColor: #F4E041;
$secondaryColor: #00BDD3;
$backgroundColor: #F8F8F8;
$hoverColor: #FFE302;
$bisabledColor: #B4B4B4;
$errorColor: #CB3D40;
$textColor: #000000DE;
$secondaryTextColor: #7E7E7E;
$borderColor: #D0CFCF;
$whiteColor: #FFFFFF;
