.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100vh;
    text-align: center;

    animation: spinnerRotation .6s linear 0s infinite ;
}

@keyframes spinnerRotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}